<div>
    <h2>Eat-Da-Burger</h2>
</div>

<br>

<div>
    <ul>
        {{#each data}}
            {{#unless devoured}}
                <li>
                    <h4>{{burger_name}}</h4>
                    <button>Devour!</button>
                </li>
            {{/unless}}
        {{/each}}
    </ul>
</div>